<nz-table
  #tasksTable
  [nzData]="(allTasks$ | async) || []"
  [nzFrontPagination]="false"
  [nzLoading]="(tasksLoaded$ | async) === false"
  [nzLoadingIndicator]="loading"
  [nzNoResult]="noResult"
>
  <thead>
    <tr>
      <th nzAlign="center">ID</th>
      <th nzAlign="center">Name</th>
      <th nzAlign="center">Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let task of tasksTable.data"
      class="task-row"
      [class.optimistic]="task.id.startsWith('O-')"
      (click)="goToDetail(task.id)"
    >
      <td style="width: 125px" nzAlign="left" nzBreakWord>{{ task.id }}</td>
      <td nzAlign="left" nzBreakWord>{{ task.name }}</td>
      <td nzAlign="center">
        <div class="status-dot-wrapper">
          <div class="status-dot" [ngClass]="getStatusColor(task.status)">
            <div
              class="tooltip-area"
              nz-tooltip
              [nzTooltipTitle]="task.status || 'todo'"
            ></div>
          </div>
        </div>
      </td>
      <td nzAlign="center">
        <button
          nz-button
          nz-popover
          [nzPopoverContent]="moreOptions"
          (click)="changeSelectedId($event, task.id)"
          nzPopoverTrigger="click"
          nzType="link"
          nzSize="large"
        >
          <i nz-icon nzType="more"></i>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>

<button
  *ngIf="tasksLoaded$ | async"
  class="open-drawer-btn"
  nz-button
  nzType="primary"
  (click)="openTaskDrawer()"
>
  +
</button>
<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  nzPlacement="bottom"
  [nzVisible]="createDrawerVisible"
  nzTitle="Create task"
  [nzFooter]="footerTpl"
  (nzOnClose)="closeTaskDrawer()"
>
  <form nz-form *nzDrawerContent [formGroup]="taskForm">
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label nzRequired>Name</nz-form-label>
          <nz-form-control>
            <input
              [formControlName]="TaskFormField.Name"
              nz-input
              placeholder="please enter task name"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Status</nz-form-label>
          <nz-form-control>
            <nz-select
              [formControlName]="TaskFormField.Status"
              nzPlaceHolder="select status"
            >
              <nz-option
                *ngFor="let status of taskStatuses"
                [nzValue]="status"
                [nzLabel]="status"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button
        nz-button
        style="margin-right: 16px"
        (click)="closeTaskDrawer()"
      >
        Cancel
      </button>
      <ng-container *ngIf="mode === 'create'">
        <button
          [disabled]="taskForm.invalid"
          nz-button
          nzType="primary"
          style="margin-right: 8px"
          (click)="createTask()"
        >
          Create
        </button>
        <button
          [disabled]="taskForm.invalid"
          nz-button
          nzType="primary"
          (click)="createTaskOptimistic()"
        >
          Create optimistic
        </button>
      </ng-container>
      <ng-container *ngIf="mode === 'edit'">
        <button
          [disabled]="taskForm.invalid"
          nz-button
          nzType="primary"
          (click)="updateTaskOptimistic()"
        >
          Update optimistic
        </button>
      </ng-container>
    </div>
  </ng-template>
</nz-drawer>

<ng-template #moreOptions>
  <div class="more-options">
    <button
      nz-popconfirm
      nzPopconfirmTitle="Are you sure?"
      nzCancelText="Cancel"
      nzOkText="OK"
      nzPopconfirmPlacement="bottom"
      nz-button
      nzType="link"
      (nzOnConfirm)="deleteTask()"
    >
      Delete task (wait for BE)
    </button>
    <button
      nz-popconfirm
      nzPopconfirmTitle="Are you sure?"
      nzCancelText="Cancel"
      nzOkText="OK"
      nzPopconfirmPlacement="bottom"
      nz-button
      nzType="link"
      (nzOnConfirm)="deleteTaskOptimistic()"
    >
      Delete task (optimistic)
    </button>
    <button
      nz-button
      nzType="link"
      (click)="openTaskDrawer('edit')"
    >
      Edit task
    </button>
  </div>
</ng-template>

<ng-template #loading>
  <nz-spin nzSimple></nz-spin>
</ng-template>

<ng-template #noResult>
  <nz-empty
    nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
    [nzNotFoundContent]="contentTpl"
    [nzNotFoundFooter]="footerTpl"
  >
    <ng-template #contentTpl>
      <span>No tasks found!</span>
    </ng-template>
    <ng-template #footerTpl>
      <button nz-button nzType="primary" (click)="openTaskDrawer()">
        Let's create one!
      </button>
    </ng-template>
  </nz-empty>
</ng-template>
